*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/

# Local CMake and build caches
cmake-cache/
cmake-cache-*/

# Python caches
__pycache__/

# Generated simulator outputs and local analysis artifacts
sim_campaign_logs/
contrib/nr/examples/5G-LENA-digital-twin-script/sim_campaign_logs/
contrib/nr/examples/5G-LENA-digital-twin-script/plots/
contrib/nr/examples/5G-LENA-digital-twin-script/rem_plots/
contrib/nr/examples/5G-LENA-digital-twin-script/*.png
contrib/nr/examples/5G-LENA-digital-twin-script/*.pdf
".codex"
